<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us</title>
</head>
<body>
    <h1>Contact us</h1>

    <form>
    
        <input type="text" name="firstname" placeholder="First Name">
        <br>
        <input type="text" name="lastname" placeholder="Last Name">
        <br>
        <input type="text" name="email" placeholder="Type your email">
        <br>
        <input type="submit" name="submit">
       
    </form>

    <br>
    <a href="{% url 'home' %}">

</body>
</html>